# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Windows OS Cache
Thumbs.db
desktop.ini

# Environment variables (highly recommended to hide keys)
.env
.env.local
.env.*.local
.env.development
.env.production

# Tool Caches
.eslintcache
.vite
